@import "reset";
@import "highlight";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700|Material+Icons');

$primary: #00BCD4;
$light: #4fb3be;
$dark: #005661;

// Tag colors (A200)
$red: #FF5252;
$pink: #FF4081;
$purple: #E040FB;
$deeppurple: #7C4DFF;
$indigo: #536DFE;
$blue: #448AFF;
$green: #B2FF59;
$yellow: #FFFF00;
$orange: #FFAB40;
$gray: #E0E0E0;


body {
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
  &.noscroll {
    overflow: hidden;
  }
}

.code {
  padding: 16px 16px 0 16px;
  h2 {
    line-height: 24px;
    margin: 0 0 6px 0;
    span.itag {
      vertical-align: top;
      color: white;
      border-radius: 4px;
      background: $gray;
      padding: 3px 6px;
      margin: 0 0 0 4px;
      font-size: 14px;
      font-weight: 400;
      &.red {
        background: $red;
      }
      &.green {
        background: $green;
        color: black;
      }
      &.blue {
        background: $blue;
      }
      &.indigo {
        background: $indigo;
      }
      &.purple {
        background: $purple;
      }
      &.orange {
        background: $orange;
      }
      &.gray {
        background: $purple;
        color: black;
      }
    }
  }
}